__pycache__

*.jpg
*.png

*.mov
*.mp4
*.h264
*.webm

*.zip
*.npy

*.pdf
*.log
*.aux
*.out
*.lof
*.lot
*.toc
*.synctex
*.synctex.gz
*.dvi
*.bbl
*.blg

assets/*
profiles
out/*

.vscode

w2w
*.bin

media

*.egg-info
dist

!assets/Deer.jpg
!assets/Frame.png
!assets/Mask.png
!assets/River.gif
!assets/River.mp4
!out/ExampleDeer.gif
!out/ExampleDeer.mp4
!www/assets/*

draft

!assets/configs/blurred.json
!assets/configs/default.json
!assets/configs/fast.json
!assets/configs/minimal.json
!assets/configs/horn-schunck.json
!assets/configs/lukas-kanade.json

!assets/kernels
!assets/kernels/3x3/blur-box.npy
!assets/kernels/3x3/blur-gaussian.npy
!assets/kernels/3x3/edge-box.npy
!assets/kernels/3x3/edge-corners.npy
!assets/kernels/3x3/edge-cross.npy
!assets/kernels/3x3/gradx.npy
!assets/kernels/3x3/gradxy.npy
!assets/kernels/3x3/grady.npy
!assets/kernels/3x3/identity.npy
!assets/kernels/3x3/sharpen.npy
!assets/kernels/5x5/blur-gaussian.npy
!assets/kernels/5x5/unsharp.npy
