__pycache__

*.jpg
*.png

*.mov
*.mp4
*.h264
*.webm

*.zip
*.npy

*.pdf
*.log
*.aux
*.out
*.lof
*.lot
*.toc
*.synctex
*.synctex.gz
*.dvi
*.bbl
*.blg

assets/*
profiles
out

# CPP
.vscode
*.exe
*.lib
*.dll
*.pgm

w2w
*.bin

media

*.egg-info
dist

!assets/Deer.jpg
!assets/Frame.png
!assets/LagrangePolynomial.png
!assets/Mask.png
!assets/Output.gif
!assets/Output.mp4
!assets/River.gif
!assets/River.mp4
!assets/Www.gif
!assets/Www.mp4

draft