@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

* {
    font-family: mononoki, monospace;
    box-sizing: border-box;
    --accent: #cff010;
    --accenta: #e7f787;
}

mark,
::selection {
    color: black;
    background-color: var(--accent);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: black;
}

select,
button,
input,
.input-file-label {
    border: 1px solid black;
    height: 26px;
    padding: .1rem .4rem;
    font-size: 10pt;
    background: white;
}

select,
input,
.input-file-label {
    width: 18em;
}

.input-file-label {
    margin-bottom: 0;
    cursor: pointer;
    line-height: 1.6;
    background: var(--accent);
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .1s ease;
}

.input-file-label:hover {
    background-color: var(--accenta);
}

.input-file-label:active,
.input-file-label:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus {
    outline: 2px solid var(--accent);
}

select:disabled,
input:disabled {
    border-color: #888;
    background: #f8f8f8;
}

button {
    background: var(--accent);
    color: black;
    transition: .1s ease;
    cursor: pointer;
}

button:hover {
    background-color: var(--accenta);
}

summary {
    margin-bottom: .2rem;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

img,
video {
    max-width: 100%;
    border: 1px solid black;
}

.header {
    padding: .4rem;
}

.body {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer {
    padding: .4rem;
}

.panel {
    width: 100%;
    height: 100%;
}

.panel-left {
    border-right: 1px solid black;
}

.tabsbar {
    display: flex;
    gap: .4rem;
    border-bottom: 1px solid black;
    margin-bottom: .4rem;
}

.pane {
    padding: .4rem;
}

.pane~.pane {
    border-top: 1px solid black;
}

.tabsbar-item {
    padding: .1rem .2rem;
    cursor: default;
}

.tabsbar-item.active {
    background-color: var(--accent);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.input-container ~ .input-container {
    margin-top: 1rem;
}

.input-container button {
    width: fit-content;
}
