@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: mononoki;
    src: url('/fonts/mononoki/mononoki-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

* {
    font-family: mononoki, monospace;
    box-sizing: border-box;
    --accent: #cff010;
    --accenta: #e7f787;
}

mark,
::selection {
    color: black;
    background-color: var(--accent);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: black;
}

select,
button,
input,
.input-file-label {
    border: 1px solid black;
    height: 26px;
    padding: .1rem .4rem;
    font-size: 10pt;
    background: white;
    accent-color: var(--accent);
}

select,
input,
.input-file-label {
    max-width: 100%;
}

.input-file-label {
    margin-bottom: 0;
    cursor: pointer;
    line-height: 1.6;
    background: var(--accent);
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .1s ease;
}

.input-file-label:hover {
    background-color: var(--accenta);
}

.input-file-label:active,
.input-file-label:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus {
    outline: 2px solid var(--accent);
}

select:disabled,
input:disabled {
    border-color: #888;
    background: #f8f8f8;
}

progress {
    accent-color: var(--accent);
    width: 100%;
}

button {
    background: var(--accent);
    color: black;
    transition: .1s ease;
    cursor: pointer;
}

button:hover:not(:disabled) {
    background-color: var(--accenta);
}

button:disabled {
    opacity: .6;
    cursor: default;
}

summary {
    margin-bottom: .2rem;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

img,
video {
    width: 100%;
    border: 1px solid black;
    image-rendering: crisp-edges;
}

.header {
    padding: .4rem;
}

.body {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.footer {
    display: flex;
    padding: .4rem;
    display: flex;
    justify-content: space-between;
    background: #eee;
    font-size: small;
}

.footer-left {
    display: flex;
    gap: .4rem;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel-left {
    border-right: 1px solid black;
    width: 60%;
}

.panel-right {
    width: 40%;
}

.pane {
    padding: 1rem;
    height: 100%;
    overflow: auto;
}

.pane~.pane {
    border-top: 1px solid black;
}

.pane-shrink {
    height: fit-content;
    flex-shrink: 0;
}

.tabsbar {
    display: flex;
    border-bottom: 1px solid black;
    background: #eee;
}

.tabsbar-item {
    padding: .1rem .4rem;
    cursor: default;
    border-right: 1px solid black;
    background: white;
}

.tabsbar-item.active {
    background-color: var(--accent);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.input-container~.input-container:has(*) {
    margin-top: 1rem;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.button-container button {
    width: fit-content;
}

.input-container-bool {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.input-container-bool input[type=checkbox] {
    width: fit-content;
}

input[type=checkbox] {
    width: fit-content;
    min-width: 0;
}

.row {
    display: flex;
    gap: .2rem;
}

.progress-info {
    margin-bottom: .4rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 1rem;
}

.layers::before {
    content: "Layers";
}

.layers,
.sources {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.layers {
    flex-direction: column;
}

.layer {
    border: 1px solid black;
    padding: 1rem;
    background: #eeeeee;
}

.sources::before {
    content: "Pixmap Sources";
    width: 100%;
}

.sources {
    flex-wrap: wrap;
}

.source {
    border: 1px solid black;
    background: #dddddd;
    padding: 1rem;
    max-width: calc(50% - 1rem);
}

details {
    margin-top: 1rem;
}

summary ~ * {
    margin-top: 1rem;
}

details > *:not(summary) {
    margin-left: .8rem;
}